@charset "UTF-8";

.signup{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url("../img/login3.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
	z-index: 0;
	overflow: hidden;
}
.signup::before{
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(6, 18, 30, .1), #06121e) !important;
	background: var(--bg) !important;
	z-index: -1;
}

.signup .form-signup{
	padding: 2rem;
	border-radius: .5rem;
	overflow: hidden;
	width: 60%;
}
.signup .form-signup h3{
	font-size: 2.5rem;
	padding-bottom: 1rem;
	color: var(--white);
	font-weight: bolder;
    text-align: center;
}
.signup .form-signup .inputBox{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
    gap: .1rem;
}
.signup .form-signup .inputBox input,
.signup .form-signup .inputBox select{
	width: 100%;
}
.signup .form-signup .inputBox .box{
	padding: 1rem 1.2rem;
	font-size: 1.6rem;
	border: var(--border2);
	color: var(--white);
	margin: .4rem 0;
}
.signup .form-signup .inputBox .box::placeholder{
	color: var(--white);
}
.signup .form-signup .inputBox select option{
	color: var(--black);
}
.signup .form-signup .btn{
	border-radius: .5rem;
    width: 100%;
}
.signup .form-signup p{
    color: var(--white);
    padding-top: .7rem;
    font-size: 1.4rem;
}
.signup .form-signup p a{
    color: var(--white);
}
.signup .form-signup p a:hover{
    text-decoration: underline;
}
/*end contato*/

@media(max-width: 768px){
    .signup .form-signup{
        width: 85%;
    }
}

@media(max-width: 480px){
	.signup .form-signup,
	.signup .form-signup .inputBox input,
    .signup .form-signup .inputBox select{
		width: 100%;
	}
}