@charset "UTF-8";

.termos-header{
    background-color: var(--main);
    color: var(--white);
    padding: 6rem;
    text-align: center;
    margin-top: 7rem;
}

.termos-header h1{
    font-size: 2.5rem;
    font-weight: 600;
}

.termos-header p{
    font-size: 1.6rem;
    line-height: 1.5;
}

.termos{
    max-width: 90rem;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.termos div{
    margin: 2rem 0;
}

.termos div h2{
    color: #1b4332;
    font-size: 2.2rem;
    font-weight: 700;
}
.termos div p{
    color: #666;
    font-size: 1.6rem;
    line-height: 1.6;
}
.termos div p a{
    color: var(--primary);
    text-decoration: underline;
}

@media (max-width: 768px) {
    .termos{
        box-shadow: none;
    }
}

